@import "../../../styles/vars";

#header-wrapper {
  position: absolute;
  width: 100%;
  padding: 18px 0;
  
  .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .user-icon {
    cursor: pointer;
    background: transparentize($black, 0.5);
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: background .3s ease;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
    
    &:hover {
      background: $black;
      transition: background .3s ease;
    }
  }
}