// Fonts
$fontRegular: 'Lato', sans-serif;
$fontSpecial: 'Roboto Slab', serif;

// Colors
$white: #EEE;
$yellow: #ffc80a;
$black: #333;
$gray: #DDD;
$purple: #8f75be;
$ash: #2c2c2c;
$red: #ff5249;
$hardWhite: #FFF;